# Игнорировать бинарные файлы и временные
*.exe
*.out
*.log

# Игнорировать зависимости Go (если нужно)
vendor/

# Игнорировать файлы среды
.env
*.env

# IDE-файлы
.idea/
.vscode/

# ОС-специфичные файлы
.DS_Store
Thumbs.db
